{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
</head>
<body>
    <button class="btn" onclick="location.href='{% url 'feed' %}'">Back to feed</button>
    <!-- display the post at the top of the page -->
    <div class="post-content">
        <h1>{{ post.user.username }}</h1>
        <h3>{{ post.caption }}</h3>
        <img src="{{ post.image.url }}" alt="Post image" style="max-width: 200px; max-height: 200px;">
        <p>{{ post.timestamp|timezone:request.user.userprofile.timezone }}</p>
    </div>
    <!-- display the comments -->
    <form method="post">
        {% csrf_token %}
        <textarea name="text" id="id_text" rows="3">{{ form.text.value|default:'' }}</textarea>
        <input type="submit" value="Comment">
    </form>
    <ul>
        {% for comment in comments %}
            <li class="comment">
                <p>{{ comment.user.username }} on {{ comment.timestamp|timezone:request.user.userprofile.timezone }}: {{ comment.text }}</p>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
</body>
</html>